<!--this HTML file is used in developement, to test teamie chat app
  conduit.html contains the same div as ng-app="app" in this file -->
<!doctype html>
<html >
  <head>
    <title>Teamie-chat test page</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/bootstrap-responsive.css" />
    <link rel="stylesheet" href="css/chat.css" />
    <link rel="stylesheet" href="http://teamie.dev/sites/all/libraries/jquery-chosen/chosen.css" />
    <link rel="stylesheet" href="https://raw.github.com/tebriel/angular-emoticonize/master/css/jquery.cssemoticons.css" />
  </head>
  <body >
    <div ng-app='app' ng-controller="ChatController" class="chat-overlay">
      <!--<h2>No. of groupUsers: {{groupUsers.length}}</h2>-->
      <div update-title style="display:none"></div>
      <div offline-watch style="display:none"></div>
      <div class="chat-dialog-container" data-ng-class="{'chat-ready': isChatReady, 'chat-dialog-container-minimized': isFriendListMinimized}" id="chat-friend-list" style="display:none">
        <div class="chat-dialog-topbar">
          <table border="0" class="chat-dialog-menu" ng-class="{'offline': isChatOffline}">
            <tbody class="tbody-chat-title">
              <tr >
                <td style="width:auto" ng-click="isFriendListMinimized=!isFriendListMinimized;setChatOffline({true: isChatOffline,false: false}[isFriendListMinimized])">
                  <div class="chat-dialog-title" >
                    {{{true: "Chat (appear offline)", false:"Chat"}[!!isChatOffline]}}
                  </div>
                </td>
                <td style="width:30px">
                  <div class="chat-dialog-buttons" >
                    <i class="icon-off icon-white" rel="tooltip" title="{{{true:'Go online',false:'Go offline'}[isChatOffline]}}" ng-click="setChatOffline(!isChatOffline);isFriendListMinimized=true;"></i>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="chat-friend-list-menu">
          <table >
            <tbody>
              <tr >
                <td style="text-align:left;padding-left:5px;padding-bottom:0px">
                  <i class="icon-search" ng-show="activeView=='friends'" title="Filter by name " ng-click="showFriendListFilter=!showFriendListFilter"></i>
                </td>
                <td style="text-align:right;padding-right:10px" >
                  <span class="label chat-label " ng-class="({true:'chat-label-active', false:''})[activeView=='friends']" ng-click="activeView='friends'">Friends</span>
                  <span class="label chat-label " ng-class="({true:'chat-label-active', false:''})[activeView=='groups']" ng-click="activeView='groups'">Groups</span>
                  <span class="label chat-label " ng-class="({true:'chat-label-active', false:''})[activeView=='archive']" ng-click="activeView='archive'">Archive</span>
                </td>
              </tr>
              <tr ng-show="showFriendListFilter && (activeView=='friends')" class="chat-view-filter">
                <td colspan="2" style="text-align:center">
                  <input type="text" ng-model="friendListFilterText" focus-me class="friendListFilter search-query" placeholder="e.g: John, Smith ..."/>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="chat-friend-list-content " ng-switch="activeView" ng-class="({true:'name-filter-shown', false:''})[showFriendListFilter && (activeView=='friends')]" friend-list>
          <div ng-switch-when="groups">
            <div class="chat-list-item" ng-repeat="group in getListOfGroupsSortedByName()" ng-click="openGroupThread(group.groupId)" groupId="{{group.groupId}}">
              <a class="chat-user-name" ng-click="openGroupThread(group.groupId)"  >{{group.name}}</a>
            </div>
          </div>
          <div ng-switch-when="friends" >
            <div ng-repeat="friend in getListOfFriends() | filter: filterObjectByName" >
              <div class="chat-list-item" draggable="true" ng-user-profile-drag class="resizable" ng-class="{0:'offline', 1:'online'}[friend.status]"  ng-click="openOneOneThread(friend.userId)" userId="{{friend.userId}}">
                <img  ng-src="{{getProfileImageURL(friend.image)}}" class="img-circle chat-profile-picture"  />
                <a class="chat-user-name" userId="{{friend.userId}}">{{friend.name}}</a>
                <div ng-switch="!!friendListFilterText && $first" >
                  <kbd ng-switch-when="true" class="dark" title="Press enter key to chat with this person">Enter &crarr;</kbd>
                </div>
              </div>
            </div>
          </div>
          <div ng-switch-when="archive">
            <div ng-repeat="tid in getSafeRecentThreadIds()" class="chat-list-item archive" ng-click="openThreadAndFocus(tid)">
              <a class="chat-user-name" thread-title="archive-tab">{{getThreadTitleArchiveTab(tid)}}<br/></a>
              <br>
              <span class="archive-last-message">{{threads[tid].messages[threads[tid].messages.length-1].content}}</span>
            </div>

          </div>
        </div>
      </div>
      <div ng-repeat="tid in getDisplayedThreads()" >
        <div class="chat-dialog-container" chat-container style="right:{{($index+1)*280}}px;display:none" ng-user-profile-drop="tid" data-ng-class="{'chat-ready': isChatReady,'chat-dialog-container-minimized': threads[tid].minimized}" threadid="{{tid}}" >
          <div class="chat-dialog-topbar" dialog-toogle>
            <table border="0" class="chat-dialog-menu" ng-class="{offline: isOneOneChatAndOffline(tid),'unread-messages':threads[tid].numUnreadMessages>0}" >
              <tbody class="tbody-chat-title" >
                <tr >
                  <td style="width:auto" ng-click="toggleThread(tid)">
                    <div class="chat-dialog-title" ng-class="({'unread-messages':threads[tid].unreadMessages>0})" thread-title="dialog-title">
                    </div>
                  </td>
                  <td ng-switch="threads[tid].type" style="width:60px" >
                    <div ng-switch-when="1" class="chat-dialog-buttons" >
                      <!--oneone thread-->
                      <div class="dropdown" style="display:inline;text-align:left">
                        <a class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i> </span></a>
                        <ul class="dropdown-menu">
                          <li>
                            <a href="" ng-click="toggleRosterDropdown(tid)" threadid="{{tid}}" > <i class="icon-user"></i> Add more friends</a>
                          </li>
                        </ul>
                      </div>
                      <i class="icon-minus" rel="tooltip" title="Minimize"  ng-click="toggleThread(tid)"></i>
                      <i class="icon-remove" rel="tooltip" title="Close"  ng-click="closeThread(tid)" threadid="{{tid}}"></i>
                    </div>
                    <div ng-switch-when="2" class="chat-dialog-buttons" >
                      <!--multiuser thread-->
                      <div class="dropdown" style="display:inline;text-align:left">
                        <a class="dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i> </span></a>
                        <ul class="dropdown-menu">
                          <li>
                            <a href="" ng-click="toggleRosterDropdown(tid)" ><i class="icon-user"></i> Add more friends</a>
                            <a href="" ng-click="leaveThread(tid)" ><i class="icon-ban-circle"></i> Leave this group chat</a>
                          </li>
                        </ul>
                      </div>
                      <i class="icon-minus" rel="tooltip" title="Minimize"  ng-click="toggleThread(tid)"></i>
                      <i class="icon-remove" rel="tooltip" title="Close"  ng-click="closeThread(tid)" threadid="{{tid}}"></i>
                    </div>
                    <div ng-switch-when="3" class="chat-dialog-buttons" >
                      <!--group thread-->
                      <i class="icon-minus" rel="tooltip" title="Minimize"  ng-click="toggleThread(tid)"></i>
                      <i class="icon-remove" rel="tooltip" title="Close"  ng-click="closeThread(tid)" threadid="{{tid}}"></i>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="chat-roster-overlay">
            <div class="chat-roster-hint"><b>Ctrl + Enter</b>: Add friend(s) | <b>ESC</b>: Cancel</div>
            <select data-placeholder="Add people to chat" ng-model="groupUsers" class="chzn-select2" style="bottom:0px;position:fixed;width:100%;" multiple chat-roster-dropdown>
            </select>
            <button class="btnAddFriend"><i class="icon-plus-sign"></i> Add friend(s)</button>
          </div>
          <div class="chat-dialog-content " chat-content >
            <div chat-messages >
            </div>
          </div>
          <input type="text" id="chatText-{{tid}}" chat-input="chatInputKeyUp(this,event)" threadId="{{tid}}"/>
        </div>
      </div>
    </div>
    <script src="http://code.jquery.com/jquery-1.7.2.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://teamie.dev/sites/all/libraries/jquery-chosen/chosen.jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://chat.teamie.dev:8888/socket.io/socket.io.js"></script>
    <script src="chat.js" type="text/javascript" charset="utf-8"></script>
    <script src="utils.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://twitter.github.io/bootstrap/assets/js/bootstrap.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-sanitize.min.js"></script>
    <script src="http://jquery-custom-scrollbar.rocketmind.pl/jquery.custom-scrollbar.js"></script>
    <script src="http://teamie.dev/sites/all/libraries/distime/distime.js"></script>
  </body>
</html>
